@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;list-style:none;}
body{background-color:#fff;font-family:"微软雅黑", Arial;font-size:12px;line-heght:150%;color:#000;text-align:left;}

/*顶部标题和按钮*/
.top{height:66px;padding:10px 10px 0 0;overflow:hidden;background:url(../img/top_bg.gif) repeat-x 0 0;}
.user strong,.topMenu .btn{background:url(../img/top_ico.gif) no-repeat;}
h1{float:left;width:520px;height:76px;background-position:0 6px;}
.topMenu{float:right;}
.topMenu li{padding:5px 0;}
.user{font-size:13px;text-align:right;}
.user strong{padding-left:16px;background-position:-390px -80px;font-weight:normal;}
.user span{color:#9c3;}
.topMenu .btn{display:inline-block;width:31px;height:22px;padding-left:23px;margin-left:7px;overflow:hidden;line-height:22px;color:#000;text-decoration:none;}
.topMenu .back{background-position:0 -80px;}
.topMenu .forward{background-position:-60px -80px;}
.topMenu .refresh{background-position:-120px -80px;}
.topMenu .log{background-position:-180px -80px;}
.topMenu .changePW{width:56px;background-position:-240px -80px;}
.topMenu .exit{background-position:-325px -80px;}

/*尾部样式*/
.foot{background:url(../img/foot_bg.gif) repeat-x 0 0;height:26px;line-height:24px;padding-left:10px;overflow:hidden;}

/*左侧菜单*/
.thisSys,.leftMenuTit a,.leftMenuTit strong.selected,.allSys .btn,.sysList li,.sysList a{background:url(../img/leftmenu_ico.gif) no-repeat 0 0;}
.tree li,.tree a{background:url(../img/left_ico.gif) no-repeat 0 0;}
/*左侧菜单--选择系统*/
.thisSys{height:30px;overflow:hidden;background-repeat:repeat-x;text-align:center;font-size:15px;line-height:200%;color:#fff;}
.leftMenuTit{height:28px;overflow:hidden;border-bottom:#39c;background-color:#9cf;}
.leftMenuTit a,.leftMenuTit strong{float:left;display:block;height:24px;padding-top:4px;vertical-align:middle;text-align:center;}
.leftMenuTit a{width:23px;margin-right:2px;overflow:hidden;background-position:3px -30px;text-indent:-9999px;}
.leftMenuTit strong{width:60px;color:#036;line-height:200%;cursor:pointer;}
.leftMenuTit strong.selected{width:80px;background-position:-30px -30px;}
/*左侧菜单--系统目录*/
.allSys{float:left;width:26px;padding:7px 0;margin-right:5px;background-color:#999;}
.allSys .btn{ display:block;width:16px;height:18px;overflow:hidden;margin:0 auto;text-indent:-9999px;}
.allSys .up{background-position:0 -65px;}
.allSys .down{background-position:0 -85px;}
.sysList{padding:7px 0 0 2px;}
.sysList li{width:24px;padding-top:10px;margin-bottom:2px;background-position:right -65px;}
.sysList a{display:block;padding:0 5px 10px 7px;background-position:right bottom;color:#fff;text-decoration:none;line-height:120%;}
.sysList li.selected{background-position:-55px -65px;}
.sysList li.selected a{background-position:-55px bottom;color:#036;}
/*左侧菜单--目录树-一级*/
.tree{padding:10px 0 0 18px;}
.tree li{background-position:-35px 0;background-repeat:repeat-y;}
.tree li.end{background-position:-75px 0;background-repeat:no-repeat;}
.tree a{display:block;height:21px;padding-left:20px;background-color:#E6F2FF;color:#000;text-decoration:none;}
.dir-I a{background-position:-110px 0;}
.dir-I li.noSub a{background-position:-110px -60px;}
.dir-II,.dir-III,.dir-IV{display:none;}
/*左侧菜单--目录树-二级*/
.dir-II a{margin-left:20px;background-position:-110px -90px;}
.dir-II li.noSub a{background-position:-110px -150px;}
/*左侧菜单--目录树-三级*/
.dir-III li{background-position:-15px 0;}
li.end .dir-III li{margin-left:8px;background-position:-23px 0;}
.dir-III li.end{background-position:-63px 0;margin-left:8px;}
li.end .dir-III li.end{background-position:-63px 0;}
.dir-III a{margin-left:40px;background-position:-110px -90px;}
li.end .dir-III a,.dir-III li.end a{margin-left:33px;}
/*左侧菜单--目录树-四级*/
.dir-IV li{background-position:5px 0;}
.dir-IV li.end{margin-left:28px;background-position:-23px 0;}
li.end .dir-IV li{margin-left:38px; background-position:-40px 0;}
.dir-IV li.end{background-position:-63px 0;}
li.end .dir-IV li.end{background-position:-80px 0;}
.dir-IV a{margin-left:60px;background-position:-110px -90px;}
li.end .dir-IV a{margin-left:15px;}

/*隐藏左侧按钮*/
.hidden,.hidden a{background:url(../img/hidden_ico.gif) no-repeat 0 0;}
.hidden{padding-top:260px;background-position:0 0;}
.hidden a{ display:block;height:57px;text-indent:-9999px;}
a.hiddenTree{background-position:-20px 0;}
a.showTree{background-position:-35px 0;}


