@charset "utf-8";
/* CSS Document */
html, body {width: 100%;height: 100%;margin: 0px;padding: 0px;overflow:hidden;}
*{margin:0;padding:0;list-style:none;}
body{background-color:#fff;font-family:"微软雅黑", Arial;font-size:12px;line-heght:150%;color:#000;text-align:left;}

/*顶部标题和按钮*/
h1,h2,h3,p,ul,li{margin:0;padding:0;list-style:none;}
img{border:0 none;}

/*main-top*/
.main-top{background:url(../img/main-top-bg.gif) left top;height:55px;width:100%;padding:5px 0 0 0;border-bottom:#89b5e9 5px solid;}
.main-top .siteLogo{float:left;background:url(../img/index-logo.gif) 10px 0 no-repeat;width:250px;height:45px;padding-left:220px;color:#555;font:18px/45px "微软雅黑";-webkit-text-shadow:3px 3px 3px #333;-o-text-shadow:3px 3px 3px #333;-moz-text-shadow:3px 3px 3px #333;text-shadow:1px 1px 2px #999;}
.main-top .rightInfo{float:right;font-size:12px;line-height:25px;white-space:nowrap;color:#336699;text-align:right;padding-right:10px;}
.main-top .rightInfo a{color:#336699;text-decoration:none;}
.main-top-ico{width:20px;height:20px;display:inline-block;*display:inline;*zoom:1;overflow:hidden;background:url(../img/main-top-ico.gif);vertical-align:middle;}
.main-top-ico.ico-qhyh{background-position:0 0;}
.main-top-ico.ico-xgmm{background-position:-20px 0;}
.main-top-ico.ico-tc{background-position:-40px 0;}
.main-top-ico.ico-yh{background-position:0 -20px;}
.main-top .rightInfo-username{color:#666;}

/*主体内容区域和面包屑，默认按钮*/
.breadcrumb span,.btn{background:url(../img/ico.gif) no-repeat 0 0;}
.breadcrumb,.breadcrumb-iframe{position:relative;height:24px;margin-bottom:15px;border-bottom:2px solid #9cf;color:#036;font-size:15px;}
.breadcrumb{text-indent:40px;}
.breadcrumb span{position:absolute;left:0;top:0;display:block;width:40px;height:35px;background-position: 0 0; text-indent:-9999px;}
.breadcrumb a{color:#036;text-decoration:none;}
.breadcrumb a:hover{color:#39c;text-decoration:underline;}
.btn{background:url(../img/ico.gif) no-repeat 0 0;}
.btn{display:inline-block;width:78px;height:23px;margin-right:5px;overflow:hidden;vertical-align:middle;background-position:0 -40px;text-align:center;color:#fff;text-decoration:none;font-size:13px;line-height:23px;}
.btn:hover{color:#ff0;}
.form_table {width:100%;background-color: #B9C9DB;margin-bottom: 10px;}
.form_table_content {background-color: #FFFFFF;text-align: left;font-size: 12px;color: #5078A4;padding-left: 5px;padding-right: 5px;padding-top: 2px;padding-bottom: 2px;width: 38%;border:1px solid  #c4d9ee;word-wrap: break-word;word-break:break-all;}
.form_text{font-size: 13px;color: #000000;padding: 3px;height: 80px;width: 83%;border: 1px solid #5B7EA3;line-height: normal;word-wrap: break-word;word-break:break-all;direction: ltr; unicode-bidi: bidi-override;margin: 5px 2px 5px 0px;scrollbar-face-color:#5B7EA3;scrollbar-arrow-color:#FFFFFF;scrollbar-highlight-color:#5B7EA3;scrollbar-3dlight-color:#FFFFFF;scrollbar-shadow-color:#5B7EA3;scrollbar-darkshadow-color:#D0DBE8;scrollbar-track-color:#DFE7F0;}
.form_input{padding: 3px 3px 0px 3px;font-size: 13px;color: #000000;height: 20px;border: 1px solid #5B7EA3;line-height: normal;width: 60%;}
.view_info_title {background-color: #E0ECFF;text-align: right;font-size: 12px;color: #294051;height: 20px;}
.view_info_content {background-color: #FFFFFF;text-align: left;font-size: 12px;color: #5078A4;padding-left: 5px;padding-right: 5px;padding-top: 2px;padding-bottom: 2px;word-wrap:break-word;word-break:break-all;}
/*查询框*/
.defaultFieldset{padding:10px;margin-bottom:10px;border:1px solid #9cf;}
.defaultFieldset legend{padding:0 5px;font-size:13px;font-weight:bold;}
.defaultFieldset table{width:100%;border:0;}
.defaultFieldset td,.defaultFieldset th{padding:3px;border:0;font-size:12px;}
.defaultFieldset input{margin-right:5px;vertical-align:middle;border:1px solid #ccc;padding:2px;}
/*默认表格*/
.defaultTable{width:100%;margin-bottom:10px;border-collapse:collapse;border:1px solid #ccc;}
.defaultTable td,.defaultTable th{padding:3px;border:1px solid #ccc;}
.defaultTable td{text-align:center;font-size:12px;}
.defaultTable thead td,.defaultTable thead th{ background-color:#9cf;}
.defaultTable thead a{color:#000;}
.tableStyle1 th{text-align:right;background-color:#E0ECFF;}
.tableStyle1 td{text-align:left;}
/*表格样式*/
.tb {width:98%;border:1px solid #c4d9ee;background:#fff;FILTER:alpha(opacity=80);border-collapse:collapse}
.tb th {border:1px solid #c4d9ee;background:#E0ECFF;height:27px;font-size: 12px;color:#023266;font-weight:normal;line-height:150%;}
td {FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: 宋体;}
.errorMsg {color:red;}
.required {color:ff0000;font-size:13px;font-weight:bold;padding-right:5px;}
/*弹框样式*/
.popboxInner,
.popboxInner p,
.popboxInner h1,.popboxInner h2,.popboxInner h3
.popboxInner ul,.popboxInner li{font-size:12px;line-height:1.5em;font-weight:normal;padding:0;margin:0;list-style:none;}
.popboxInner{background:#ebebeb;height:100%;}
.popboxInner-faceIco{float:left;width:50px;margin:10px 0 0 10px;_margin-left:5px;vertical-align:top;min-height:100px;}
.popboxInner-text{margin:0 20px 0 70px;vertical-align:top;padding-top:20px;}
.popboxInner-btnArea{clear:both;margin-top:10px;text-align:center;}
.popboxInner-btnArea .btn-style1,
.popboxInner-btnArea .btn-style2{display:inline-block;*display:inline;*zoom:1;background:#99bbbb;padding:5px 15px;margin:0 5px;color:#333;text-decoration:none;}
.popboxInner-btnArea .btn-style2{background:#ccc;}

