.view_info_title {
	background-color: #E0ECFF;
	text-align: right;
	font-size: 12px;
	color: #294051;
	height: 20px;
}

.view_info_content {
	background-color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	color: #5078A4;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	
 	word-wrap:break-word;
 	word-break:break-all;
}

.form_table_content {
	background-color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	color: #5078A4;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 38%;
	border:1px solid  #c4d9ee;
	word-wrap: break-word;
	word-break:break-all;
}

.form_table {
	background-color: #B9C9DB;
	margin-bottom: 10px;
}

.form_input{
	padding: 3px 3px 0px 3px;
	font-size: 13px;
	color: #000000;
	height: 20px;
	border: 1px solid #5B7EA3;
	line-height: normal;
	width: 60%;
}

.form_text_new{
	font-size: 13px;
	color: #000000;
	padding: 3px;
	height: 80px;
	width: 83%;
	border: 1px solid #5B7EA3;
	line-height: normal;
	word-wrap: break-word;
	word-break:break-all;
	direction: ltr; 
	unicode-bidi: bidi-override;
	margin: 5px 2px 5px 0px;
	scrollbar-face-color:#5B7EA3;
    scrollbar-arrow-color:#FFFFFF;
    scrollbar-highlight-color:#5B7EA3;
    scrollbar-3dlight-color:#FFFFFF;
    scrollbar-shadow-color:#5B7EA3;
    scrollbar-darkshadow-color:#D0DBE8;
    scrollbar-track-color:#DFE7F0;
}

td {
	FONT-SIZE: 12px; 
	LINE-HEIGHT: 15px; 
	FONT-FAMILY: ו;
}

.tb {width:100%;border:1px solid #c4d9ee;background:#fff;}
.tb th {border:1px solid #c4d9ee;background:#E0ECFF;height:27px;color:#023266;}


* {font-family: Arial;font-style:inherit;outline:0;padding:0;margin:0;list-style:none;font-size:12px;font-weight:normal;line-height:150%;}