<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kings.ttp.dao.automated.AdminMenuListMapper" >
  <resultMap id="BaseResultMap" type="com.kings.ttp.pojo.AdminMenuList" >
    <id column="F_ID" property="id" jdbcType="INTEGER" />
    <result column="F_MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="F_URL" property="url" jdbcType="VARCHAR" />
    <result column="F_NEMU_LEVEL" property="nemuLevel" jdbcType="INTEGER" />
    <result column="F_PARENT_ID" property="parentId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    F_ID, F_MENU_NAME, F_URL, F_NEMU_LEVEL, F_PARENT_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kings.ttp.pojo.AdminMenuListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_menu_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_menu_list
    where F_ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_menu_list
    where F_ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kings.ttp.pojo.AdminMenuListExample" >
    delete from t_menu_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kings.ttp.pojo.AdminMenuList" >
    insert into t_menu_list (F_ID, F_MENU_NAME, F_URL, 
      F_NEMU_LEVEL, F_PARENT_ID)
    values (#{id,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{nemuLevel,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kings.ttp.pojo.AdminMenuList" >
    insert into t_menu_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        F_ID,
      </if>
      <if test="menuName != null" >
        F_MENU_NAME,
      </if>
      <if test="url != null" >
        F_URL,
      </if>
      <if test="nemuLevel != null" >
        F_NEMU_LEVEL,
      </if>
      <if test="parentId != null" >
        F_PARENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="nemuLevel != null" >
        #{nemuLevel,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kings.ttp.pojo.AdminMenuListExample" resultType="java.lang.Integer" >
    select count(*) from t_menu_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_menu_list
    <set >
      <if test="record.id != null" >
        F_ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.menuName != null" >
        F_MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        F_URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.nemuLevel != null" >
        F_NEMU_LEVEL = #{record.nemuLevel,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null" >
        F_PARENT_ID = #{record.parentId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_menu_list
    set F_ID = #{record.id,jdbcType=INTEGER},
      F_MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      F_URL = #{record.url,jdbcType=VARCHAR},
      F_NEMU_LEVEL = #{record.nemuLevel,jdbcType=INTEGER},
      F_PARENT_ID = #{record.parentId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kings.ttp.pojo.AdminMenuList" >
    update t_menu_list
    <set >
      <if test="menuName != null" >
        F_MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        F_URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="nemuLevel != null" >
        F_NEMU_LEVEL = #{nemuLevel,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        F_PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where F_ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kings.ttp.pojo.AdminMenuList" >
    update t_menu_list
    set F_MENU_NAME = #{menuName,jdbcType=VARCHAR},
      F_URL = #{url,jdbcType=VARCHAR},
      F_NEMU_LEVEL = #{nemuLevel,jdbcType=INTEGER},
      F_PARENT_ID = #{parentId,jdbcType=INTEGER}
    where F_ID = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据用户角色获取菜单 -->
   <select id="selectByGroup" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_menu_list 
    join t_menu_group_dz  on F_ID = F_MENU_ID and F_GROUP_ID = #{groupId}
  </select>
</mapper>