<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kings.ttp.dao.automated.UserCreditBeanMapper" >
  <resultMap id="BaseResultMap" type="com.kings.ttp.pojo.UserCreditBean" >
    <id column="F_USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="F_USER_TYPE" property="userType" jdbcType="INTEGER" />
    <result column="F_USER_CREDIT" property="userCredit" jdbcType="DOUBLE" />
    <result column="F_LAST_TIME" property="lastTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    F_USER_ID, F_USER_TYPE, F_USER_CREDIT, F_LAST_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kings.ttp.pojo.UserCreditBeanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user_credit
    where F_USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user_credit
    where F_USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kings.ttp.pojo.UserCreditBeanExample" >
    delete from t_user_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kings.ttp.pojo.UserCreditBean" >
    insert into t_user_credit (F_USER_ID, F_USER_TYPE, F_USER_CREDIT, 
      F_LAST_TIME)
    values (#{userId,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{userCredit,jdbcType=DOUBLE}, 
      #{lastTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kings.ttp.pojo.UserCreditBean" >
    insert into t_user_credit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        F_USER_ID,
      </if>
      <if test="userType != null" >
        F_USER_TYPE,
      </if>
      <if test="userCredit != null" >
        F_USER_CREDIT,
      </if>
      <if test="lastTime != null" >
        F_LAST_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="userCredit != null" >
        #{userCredit,jdbcType=DOUBLE},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kings.ttp.pojo.UserCreditBeanExample" resultType="java.lang.Integer" >
    select count(*) from t_user_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user_credit
    <set >
      <if test="record.userId != null" >
        F_USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null" >
        F_USER_TYPE = #{record.userType,jdbcType=INTEGER},
      </if>
      <if test="record.userCredit != null" >
        F_USER_CREDIT = #{record.userCredit,jdbcType=DOUBLE},
      </if>
      <if test="record.lastTime != null" >
        F_LAST_TIME = #{record.lastTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user_credit
    set F_USER_ID = #{record.userId,jdbcType=VARCHAR},
      F_USER_TYPE = #{record.userType,jdbcType=INTEGER},
      F_USER_CREDIT = #{record.userCredit,jdbcType=DOUBLE},
      F_LAST_TIME = #{record.lastTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kings.ttp.pojo.UserCreditBean" >
    update t_user_credit
    <set >
      <if test="userType != null" >
        F_USER_TYPE = #{userType,jdbcType=INTEGER},
      </if>
      <if test="userCredit != null" >
        F_USER_CREDIT = #{userCredit,jdbcType=DOUBLE},
      </if>
      <if test="lastTime != null" >
        F_LAST_TIME = #{lastTime,jdbcType=VARCHAR},
      </if>
    </set>
    where F_USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kings.ttp.pojo.UserCreditBean" >
    update t_user_credit
    set F_USER_TYPE = #{userType,jdbcType=INTEGER},
      F_USER_CREDIT = #{userCredit,jdbcType=DOUBLE},
      F_LAST_TIME = #{lastTime,jdbcType=VARCHAR}
    where F_USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>