<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 登录服务 -->
	<bean id="loginService" class="com.kings.ttp.service.impl.LoginServiceImpl"  autowire="byName">
	</bean>
	<!-- 菜单服务 -->
	<bean id="menuService" class="com.kings.ttp.service.impl.MenuServiceImpl"  autowire="byName">
	</bean>

</beans>