<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="baseDAO" class="com.kings.ttp.dao.BaseDAO" >
		<property name="dataSource" ref="readDataSource" />
	</bean>
	<bean id="systemParamDAO" class="com.kings.ttp.dao.impl.SystemParamDAOImpl" >
		<property name="dataSource" ref="readDataSource" />
	</bean>

</beans>